body {
    background-color: aqua;
    text-align: center;
}
#todo-item {

    background-color:#CCC;
    border: 1px solid orangered;
    height: 30px;
    width: 200px;
}
.btn1 {
    background-color: green;
    text-align: center;
    color: white;
    height: 30px;

}
.btn2 {
    background-color: tomato;
    text-align: center;
    color: white;
    height: 30px;
}